<html>
  <head>
    <title>Matplotlib - matlab style python plotting (plots, graphs,
  charts) </title>
   </head>
   <body bgcolor=#ffffff>

<table >
    <tr>
       <td  colspan=3 valign=top align=left><img align=left
             src=screenshots/logo.png></td></td>
    </tr>
    <td valign=top>
        <table border=0 >
            <tr><td valign=top>
                + for table in tables:
                    @table@
                    <br>
                -
                </td>
            </tr>
        </table>    
    </td>
    <td valign=top>&nbsp;&nbsp;</td>
    <td valign=top>
